# -----------------------------

# Python Bytecode

# -----------------------------

**pycache**/
*.py[cod]
*$py.class

# -----------------------------

# Virtual Environments

# -----------------------------

venv/
env/
ENV/
lstm_env/

# -----------------------------

# Jupyter Notebook

# -----------------------------

.ipynb_checkpoints/

# -----------------------------

# VS Code

# -----------------------------

.vscode/

# -----------------------------

# Operating System Files

# -----------------------------

.DS_Store
Thumbs.db

# -----------------------------

# Python Packaging

# -----------------------------

build/
dist/
*.egg-info/

# -----------------------------

# Logs

# -----------------------------

*.log

# -----------------------------

# Environment Variables

# -----------------------------

.env

# -----------------------------

# Temporary Files

# -----------------------------

*.tmp
*.bak
*.swp
